header{

  background-color: black;
  opacity: 0.8;

  .navbar{
    color: white;

    background-color: black;
    border-radius: unset;
  }

  #page_label{
    p{
      margin-top: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;

      font-family: "Air America", Arial, sans-serif;
      font-size: 2em;
      text-align: center;

      background-color: #EA862E;
    }
  }

  #info{
    #info_top{

      border-bottom: darkgrey solid 1px;

      #phone_number{
        color: darkgrey;

        font-size: 1.5em;
      }

      #delivery_info{
        padding-top: 5px;

        color: darkgrey;
      }

      #delivery_free{
        padding-top: 5px;

        color: darkgrey;
        font-size: 1em;
      }

      #enter_button {

        text-align: right;

        .btn {
          margin-top: 5px;
          margin-bottom: 5px;

          border: none;
          background-color: #EA862E;
        }
      }
    }
  }
}