<%include common/header.ejs%>

<div class="container-fluid" id="order_page_content">
    <div id="big_left" class="col-xs-7 col-sm-8 col-md-9">
        <div class="row" id="delivery_form">
            <h3 class="col-md-12">Контактні дані</h3>
            <div class="col-md-7" id="delivery_contacts">
                <form class="form-horizontal">
                    <div class="form-group name-group">
                        <label class="col-sm-2 control-label">Ім’я</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="inputName" placeholder="Ім’я">
                        </div>
                        <span class="name-help-block" style="display:none;">
                            Введіть тільки ім’я, без цифр
                        </span>
                    </div>
                    <div class="form-group phone-group">
                        <label class="col-sm-2 control-label">Телефон</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="inputPhone" placeholder="+380994010999">
                        </div>
                        <span class="phone-help-block" style="display:none;">
                            Введіть номер телефону у форматі +380 або почніть з 0
                        </span>
                    </div>
                    <div class="form-group address-group">
                        <label class="col-sm-2 control-label">Адреса</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="inputAdress"
                                placeholder="Київ, вул. Спаська, 2">
                        </div>
                        <span class="address-help-block" style="display:none;">
                            Введіть адресу доставки піци
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-5" id="delivery_details">
                <div class="bs-callout bs-callout-info">
                    <h4>Інформація про замовлення</h4>
                    <p class="delivery_details_time">
                        <b>Приблизний час доставки:</b> невідомий
                    </p>
                    <p class="delivery_details_address">
                        <b>Адреса доставки:</b> невідома
                    </p>
                </div>
            </div>
            <div class="col-md-12" style="text-align: right;">
                <a href="#" id="proceed_btn" class="btn btn-primary">Далі ></a>
            </div>
        </div>
    </div>
    <div id="big_right" class="col-xs-5 col-sm-4 col-md-3">
        <div id="cart" class="col-xs-12 col-sm-12 col-md-12">
            <div id="order_head">
                <span id="label">
                    Замовлення
                </span>
                <span id="quantity">
                    0
                </span>
            </div>
                <div id="order">
                </div>
                <div id="order_summary">
                    <div class="row">
                        <span id="price_label" class="col-xs-6 col-sm-6 col-md-6">Сума замовлення</span>
                        <span id="order_price" class="col-xs-6 col-sm-6 col-md-6">0</span>
                        <a href="/" id="order_button" class="btn btn-primary btn-lg btn-block">Редагувати</a>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="footer">
        <p>
            Pizza KMA - практичний проект в межах курсу JavaScript в Києво-Иогилянській Академії
            <br>
            Доставка піци не здійснюється
        </p>
    </div>

    <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!--Bootsrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Own JavaScript -->
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>